.page-mask {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.place-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.control-button {
    top: 2px;
    float: left;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.upper-toggle {
    right: 72px;
    height: 32px;
}

.add-button {
    top: 4px;
    right: 40px;
    width: 32px;
    height: 32px;
}

.add-button span {
    font-size: 18px;
    font-family: 宋体, serif;
}

.close-button {
    right: 6px;
    width: 32px;
    height: 32px;
}

.close-button span {
    font-size: 21px;
    font-family: 宋体, serif;
}

.panel-content {
    margin: 40px 20px 20px 20px;
}

.panel-content ul {
    padding: 0;
}

.panel-content ul li {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel-content ul li span {
    margin: 0 0 10px 10px;
}

.panel-content ul li:hover, .add-button:hover {
    transition: .2s ease-out;
    background-color: rgba(0, 0, 0, 0.16);
}

.panel-title {
    font-size: 18px;
    position: absolute;
    top: 5px;
    left: 18px;
    font-weight: bold;
}

.close-button:hover {
    color: #ffffff;
    transition: .2s ease-out;
    background-color: #e81123;
}

.delete {
    float: right;
    margin: auto 0 auto 5px;
    padding: 0 15px 0 15px;
    height: 30px;
    border: none;
    outline: 0;
    transition: .2s ease-out;
    white-space: nowrap;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-family: '微软雅黑', serif;
    border-radius: 2px;
    /*基础样式*/
    color: #f6f6f6;
}

.flex-center {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-center label {
    display: flex;
    row-gap: 18px;
    column-gap: 10px;
    grid-template-columns: repeat(2, 27%);
    width: 100%;
    margin-bottom: 23px;
    flex-direction: column;
    align-items: center;
}

.flex-center label span input {
    margin-left: 3px;
}

.QRCode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QRCode-panel {
    height: 160px;
}

.QRCode-show {
    width: 100px;
    height: 100px;
    display: flex;
    color: #7b7b7b;
    font-size: 56px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-size: contain;
}

.QRCode-refresh {
    color: #7b7b7b;
    font-size: 12px;
}

.QRCode-aside {
    left: 18px;
    position: absolute;
}

.QRCode-aside ul {
    padding: 16px 0 0 0;
}

.QRCode-aside li {
    /*margin: 10px;*/
    padding: 4px;
    border-bottom: #7a7a7a solid 1px;
}

.QRCode-aside li:hover {
    background-color: #b5b5b5;
}

.QRCode-logged {
    display: flex;
    color: #67c23a;
    align-items: center;
    flex-direction: column;
}

.QRCode-logged div {
    font-size: 26px;
    margin: 6px 0 10px 0;
}

.mini-panel {
    display: flex;
    width: 52px;
    height: 64px;
    /*background-color: rgb(195, 55, 55);*/
    position: absolute;
    top: 32px;
    right: 0;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mini-panel-button {
    width: 100%;
    text-align: center;
}

.mini-panel-button:hover {
    background-color: rgba(0, 0, 0, 0.16);
}

.use-playlist-button {
    top: 10px;
    right: 78px;

}