html {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "Microsoft Sans Serif", "Microsoft SanSerf", 微软雅黑, serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(120deg, #4ee4ff 0%, #8ebefc 100%);
}

.center-message {
    display: flex;
    margin: 0 auto;
    max-width: 1143px;
    box-sizing: border-box;
    height: calc(100vh - 156px);
}

.space-left {
    width: 140px;
    min-width: 140px;
    background-color: rgba(255, 255, 255, 0.6);
}

.side-bar {
    color: #666;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
}

.right-title {
    color: #333;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ul-list {
    margin: 0;
    padding: 0 0 0 25px;
}

.li-item {
    padding: 0;
    height: 40px;
    display: flex;
    color: #6b757b;
    position: relative;
    align-items: center;
}

.li-item::before {
    content: "\25cf";
    line-height: 20px;
}

.li-item:hover, .li-item a:hover {
    color: #e3782f;
}

#click_i {
    color: #e3782f;
}

.li-item a {
    flex: 1;
    color: #666;
    line-height: 40px;
    padding-left: 10px;
    text-decoration: none;
}

.title {
    color: #666;
    height: 42px;
    margin: 10px;
    display: flex;
    font-size: 15px;
    max-width: 1143px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px 0 rgb(121 146 185 / 54%);
}

.title div {
    display: flex;
    margin: auto 0 auto 0;
}

.title span {
    padding: 0 16px;
}

.messages {
    margin: 0 10px;
    overflow: auto;
    max-width: 1143px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 16px 24px 16px;
    height: calc(100vh - 56px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px 0 rgb(121 146 185 / 54%);
}

::-webkit-scrollbar {
    display: none;
}

.messages-item {
    margin: 0 auto;
    padding-top: 24px;
    max-width: 1143px;
    position: relative;
    padding-bottom: 24px;
    box-sizing: border-box;
}

.basic-list-item {
    display: flex;
    box-sizing: border-box;
}

.left-box {
    width: 60px;
    height: 46px;
}

.h-icon {
    width: 46px;
    height: 46px;
    display: block;
    border-radius: 50%;
}

.center-box {
    flex: 1;
}

.line-one {
    display: flex;
    color: #505050;
    font-size: 14px;
    flex-wrap: wrap;
    overflow: hidden;
    line-height: 15px;
    max-height: 4.2em;
    margin-bottom: 10px;
    word-break: break-word;
    text-overflow: ellipsis;
}

.nick-name {
    color: #222;
    margin-right: 8px;
    font-weight: bold;
}

.line-two {
    color: #222;
    font-size: 14px;
    margin-right: 14px;
    margin-bottom: 10px;
}

.messages-content {
    font-size: 14px;
    overflow: hidden;
    line-height: 18px;
    max-height: 2.5em;
    text-overflow: ellipsis;
}

.line-two p {
    text-indent: 2em;
}

.line-three {
    color: #999;
    display: flex;
    font-size: 12px;
    line-height: 22px;
    align-items: center;
}

.divider {
    left: 60px;
    height: 1px;
    display: block;
    position: relative;
    width: calc(100% - 44px);
    border-bottom: 1px solid rgba(110, 110, 110, 0.7);
}