{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>Live Music 弹幕点歌</title>
    <script src="{% static "js/others/jquery-3.4.1.min.js" %}"></script>
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    {% if dev %}
        <link rel="stylesheet" href="{% static "css/bili.css" %}">
        <link rel="stylesheet" href="{% static "css/sheet.css" %}">
        <link rel="stylesheet" href="{% static "css/console.css" %}">
        <link rel="stylesheet" href="{% static "css/iconfont.css" %}">
        <link rel="stylesheet" href="{% static "css/mask_panel.css" %}">
        <script src="{% static "js/myUtils.js" %}"></script>
        <script src="{% static "js/dan_mu_ku.js" %}"></script>
        <script src="{% static "js/others/vue.js" %}"></script>
        <script src="{% static "js/array_equals.js" %}"></script>
        <script src="{% static "js/for_bilibili.js" %}"></script>
        <script src="{% static "/js/wss_for_bili.js" %}"></script>
        <script src="{% static "js/wss_for_live_music.js" %}"></script>
    {% else %}
        <link rel="stylesheet" href="{% static "css/bili.min.css" %}?v={{ random }}">
        <link rel="stylesheet" href="{% static "css/sheet.min.css" %}?v={{ random }}">
        <link rel="stylesheet" href="{% static "css/console.min.css" %}?v={{ random }}">
        <link rel="stylesheet" href="{% static "css/iconfont.min.css" %}?v={{ random }}">
        <link rel="stylesheet" href="{% static "css/mask_panel.min.css" %}?v={{ random }}">
        <script src="{% static "js/myUtils.min.js" %}?v={{ random }}"></script>
        <script src="{% static "js/dan_mu_ku.min.js" %}?v={{ random }}"></script>
        <script src="{% static "js/others/vue.min.js" %}?v={{ random }}"></script>
        <script src="{% static "js/array_equals.min.js" %}?v={{ random }}"></script>
        <script src="{% static "js/for_bilibili.min.js" %}?v={{ random }}"></script>
        <script src="{% static "/js/wss_for_bili.min.js" %}?v={{ random }}"></script>
        <script src="{% static "js/wss_for_live_music.min.js" %}?v={{ random }}"></script>
    {% endif %}
    <script>
        let vm
        let utils = new MyUtils()
        {% if not set_flag %}
            let my_wss = new LiveMusicWebsocket('vm', utils, '{{ url }}');
        {% else %}
            let my_wss = '';
        {% endif %}

        let black_list = {{ global_setting|safe }};
        let auth_str = '{{ auth|safe }}'
        let room_id = auth_str === '' ? '' : JSON.parse(auth_str).roomid

        window.onload = function () {
            vm = load_for_bili_vue({
                url: '{{ url }}',
                secret: '{{ secret }}',
                set_flag: {{ set_flag }},
                room_id: room_id,

                real_status: {{ real_status|safe }},

                black_user_list: black_list.black_user_list,
                black_music_list: black_list.black_music_list,

                div_width: '{{ div_width }}',
                div_height: '{{ div_height }}',

                music_color: '{{ music_color }}',
                music_font: '{{ music_font }}',
                music_font_size: {{ music_font_size }},

                artist_color: '{{ artist_color }}',
                artist_font: '{{ artist_font }}',
                artist_font_size: {{ artist_font_size }},
                v_li_margin: {{ v_li_margin }},

                music_shadow_num: {{ music_shadow_num }},
                music_shadow_blur: {{ music_shadow_blur }},
                music_shadow_color: '{{ music_shadow_color }}',

                artist_shadow_num: {{ artist_shadow_num }},
                artist_shadow_blur: {{ artist_shadow_blur }},
                artist_shadow_color: '{{ artist_shadow_color }}',

                theme_id: {{ theme_id }},
                {% if not set_flag %}
                    zh: '{{ zh }}', en: '{{ en }}',
                {% else %}
                    zh: 'Wonder Caravan', en: '水瀬いのり',
                {% endif %}
            }, utils, my_wss);
            {% if not set_flag %}
                new BiliBili_WEBSocket(vm, auth_str, utils, utils.on_wss, [vm, '{{ url }}', 'music_url'])
                my_wss.vm = vm;
                setTimeout(() => {
                    if (vm.$data.who_play === vm.$data.who_i_am) {
                        utils.htmlAudioElement.play();
                    }
                }, 5000);
                utils.get_union_data(vm, utils, [utils.get_base_control, utils.get_music_info_list, utils.get_is_running])
                /*
                setInterval(() => {
                    p.get_union_data(vm, p, [p.get_base_control, p.get_music_info_list, p.get_is_running])
                }, 6000);

                 */
                {% comment %}setInterval(() => {
                    p.from_sever_get_data(vm, 'music')
                }, 5000){% endcomment %}
            {% else %}
                setInterval(() => {
                    utils.test_music(vm)
                }, 5000)
            {% endif %}
        }
    </script>
</head>
<body>

<div class="app">
    <div class="root-div" v-bind:style="{backgroundImage: set_style}">

        <div class="show-div">
            <div class="head-title" v-bind:style="{display: set_style}">
                <div class="h-t-text">Live 效果预览</div>
            </div>

            <div id="display-css" class="base plug-in back_img" v-bind:style="display_style">

                <transition-group mode="out-in">

                    <template v-if="now_view == 'music_name'">
                        {% verbatim %}
                        <ul v-bind:key="now_view">
                            <transition-group mode="in-out">
                                <li v-for="(value, key) in music_info" v-bind:key="value[0] + now_view"
                                    v-bind:style="li_style">
                                    <span class="music-name"
                                          v-bind:style="first_style" v-bind:key="'music_name' + test_flag + !now_view">{{ value[0] }}</span>
                                    <span class="artist"
                                          v-bind:style="second_style"
                                          v-bind:key="'artist_name' + test_flag + now_view">{{ value[1] }}</span>
                                </li>
                            </transition-group>
                        </ul>
                        {% endverbatim %}
                    </template>

                    <template v-if="now_view == 'music_lyric'">


                        <ul id="uls"
                            style="list-style: none;overflow: hidden;word-break: keep-all;transition: 700ms;padding: 0; margin: 0;text-align: center"
                            v-bind:key="now_view">
                            <li class="item" id="26.368"
                                style="height: 90px;padding-top: 20px;position: relative;"><span
                                    class="lyric lyric1"
                                    style="font-size: 36px;color: rgba(0,0,0,0.51);"> きらり空に響く星の声</span><span
                                    class="translation"
                                    style="margin-left: 10px;color: #7a7a7a;font-size: 16px;"><br/>晶莹闪烁在夜空 星星的声音</span>
                            </li>
                            <li class="item" id="45.625"
                                style="height: 90px;padding-top: 20px;position: relative;"><span
                                    class="lyric"
                                    style="font-size: 36px;color: #7a7a7a;"> ああ海を照らす 光を辿れたら</span><span
                                    class="translation"
                                    style="margin-left: 10px;color: #7a7a7a;font-size: 16px;"><br/>啊 徇着照亮海面的那道光芒探寻</span>
                            </li>
                            <li class="item" id="49.977"
                                style="height: 90px;padding-top: 20px;position: relative;"><span
                                    class="lyric"
                                    style="font-size: 36px;color: #7a7a7a;"> 流れた星はどこへ行く？</span><span
                                    class="translation"
                                    style="margin-left: 10px;color: #7a7a7a;font-size: 16px;"><br/>划过夜空的流星将去往哪里？</span>
                            </li>
                            <li class="item" id="53.572"
                                style="height: 90px;padding-top: 20px;position: relative;"><span
                                    class="lyric"
                                    style="font-size: 36px;color: #7a7a7a;"> きっと何かがそこで待ってる</span><span
                                    class="translation"
                                    style="margin-left: 10px;color: #7a7a7a;font-size: 16px;"><br/>那里一定有什么在等待着</span>
                            </li>
                            <li class="item" id="58.315"
                                style="height: 90px;padding-top: 20px;position: relative;"><span
                                    class="lyric"
                                    style="font-size: 36px;color: #7a7a7a;"> 旗を掲げ進もう</span><span
                                    class="translation"
                                    style="margin-left: 10px;color: #7a7a7a;font-size: 16px;"><br/>扬起旗帜出发吧</span>
                            </li>
                            <li class="item" id="61.821"
                                style="height: 90px;padding-top: 20px;position: relative;"><span
                                    class="lyric"
                                    style="font-size: 36px;color: #7a7a7a;"> いつでも月は歌い 旅人を導いて</span><span
                                    class="translation"
                                    style="margin-left: 10px;color: #7a7a7a;font-size: 16px;"><br/>月亮轻唱着歌谣，为旅人指引方向</span>
                            </li>
                            <li class="item" id="70.856"
                                style="height: 90px;padding-top: 20px;position: relative;"><span
                                    class="lyric"
                                    style="font-size: 36px;color: #7a7a7a;"> 「もう迷わなくていいから」</span><span
                                    class="translation"
                                    style="margin-left: 10px;color: #7a7a7a;font-size: 16px;"><br/>「再也不必犹豫迷茫」</span>
                            </li>
                        </ul>

                    </template>

                    <template v-if="now_view == 'msg'">
                        <p class="show-msg" v-bind:key="now_view" v-bind:style="first_style" v-text="information"></p>
                    </template>

                </transition-group>

            </div>
        </div>

        <div class="set-div" v-bind:style="{display: set_style}">
            <div class="set-title">
                <div class="s-t-text">设置</div>
            </div>
            <div class="load-info" v-if="load_info_flag">
                <div class="v-line"></div>
                <div class="info-content">
                    <i class="element-icons icon-size el-icon-loading" v-if="load_info_icon==='loading'"></i>
                    <i class="element-icons icon-size el-icon-check" v-if="load_info_icon==='check'"></i>
                    <i class="element-icons icon-size el-icon-close" v-if="load_info_icon==='close'"></i>
                    <div v-text="load_info"></div>
                </div>
            </div>
            <div style="background-color: rgb(233 104 107 / 10%);">
                <!--<button v-on:click="now_view = 'music_name';reset_test(true)">切换歌名</button>
                 <button v-on:click="now_view = 'music_lyric'">切换歌词</button>
                 <button v-on:click="now_view = 'msg'">切换信息</button>-->
                <a href="/for-bili-setting?music={{ url }}&{{ params }}"><p class="base conform" style="float: right;margin: 5px;text-decoration: none;color: #ffffff;text-align: center;
                padding: 5px 0 0 0;font-family: Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, 微软雅黑, serif">
                    转到歌曲控制台</p>
                </a>
                <a href="/for-bili-lyric?{{ params }}"><p class="base conform" style="float: right;margin: 5px;text-decoration: none;color: #ffffff;text-align: center;
    padding: 5px 0 0 0;font-family: Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, 微软雅黑, serif">
                    转到歌词设置</p>
                </a>

                <p class="base conform"
                   style="float: right;margin: 5px;text-decoration: none;color: #ffffff;text-align: center;padding: 5px 0 0 0;font-family: Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, 微软雅黑, serif"
                   v-on:click="login_mask = true">
                    登录到音乐账户
                </p>

            </div>
            <div class="set-content">
                <div class="attribute-set">
                    <div class="block-title">基本设置</div>
                    <div class="base-block">
                        <div class="width-height">
                            <div class="text-input first-text-input">
                                <label for="width" class="margin-label">宽:</label>
                                <input type="range" name="div_width" id="width"
                                       class="input-number set-color-text"
                                       min="0" max="1000" step="1"
                                       v-model="v_div_width">
                            </div>

                            <div class="text-input first-text-input">
                                <label for="height" class="margin-label">高:</label>
                                <input type="range" name="div_height" id="height"
                                       class="input-number set-color-text"
                                       min="0" max="1000" step="1"
                                       v-model="v_div_height">
                            </div>
                        </div>
                        <span style="color: #7a7a7a; float: right;"
                              v-text="parseInt(v_div_width) + 130 + 'px × ' + (parseInt(v_div_height) + 130) + 'px'">
                        </span>
                    </div>
                    <div class="block-title">字体</div>
                    <div class="base-block">
                        <div class="text-input first-text-input">
                            <label for="text_size1" class="adjust-label">歌名字体大小:</label>
                            <input type="range" name="music_font_size"
                                   class="set-color-text bili_base"
                                   id="text_size1"
                                   min="10" max="75"
                                   v-model="v_first_font_size">
                        </div>
                        <div class="text-input">
                            <label for="text_size2" class="adjust-label">歌手字体大小:</label>
                            <input type="range" name="artist_font_size"
                                   class="set-color-text bili_base"
                                   id="text_size2"
                                   min="10" max="75"
                                   v-model="v_second_font_size">
                        </div>
                        <div class="text-input">
                            <label for="text_font1" class="adjust-label">歌名字体:</label>
                            <input type="text" name="music_font"
                                   class="set-color-text bili_base base"
                                   id="text_font1"
                                   v-model="v_first_font">
                        </div>
                        <div class="text-input">
                            <label for="text_font2" class="adjust-label">歌手字体:</label>
                            <input type="text" name="artist_font"
                                   class="set-color-text bili_base base"
                                   id="text_font2"
                                   v-model="v_second_font">
                        </div>
                    </div>
                    <div class="block-title">颜色</div>
                    <div class="base-block">
                        <div class="text-input first-text-input">
                            <label for="text_color1" class="adjust-label">歌名颜色:</label>
                            <input type="text" name="music_color" class="set-color-text bili_base base"
                                   v-model="v_first_color">
                            <label for="color1"></label>
                            <input type="color" class="set-color-button" id="color1" value="#ff9900"
                                   v-model="v_first_color">
                        </div>
                        <div class="text-input">
                            <label for="text_color2" class="adjust-label">歌手颜色:</label>
                            <input type="text" name="artist_color"
                                   class="set-color-text bili_base base"
                                   id="text_color2"
                                   v-model="v_second_color">
                            <label for="color2"></label>
                            <input type="color" class="set-color-button" id="color2" value="#7a7a7a"
                                   v-model="v_second_color">
                        </div>
                    </div>

                    <div class="block-title">文字描边</div>
                    {% verbatim %}
                    <div class="base-block">
                        <div class="text-input first-text-input">
                            <label for="text_shadow_size" class="margin-label">歌名大小:</label>
                            <input type="range" name="artist_font_size"
                                   class="set-color-text"
                                   min="0" max="10"
                                   id="text_shadow_size"
                                   v-model="first_shadow_num">
                            <span class="margin-label">{{ first_shadow_num }}px</span>
                        </div>
                        <div class="text-input">
                            <label for="text_shadow_size2" class="margin-label">歌手大小:</label>
                            <input type="range" name="artist_font_size"
                                   class="set-color-text"
                                   min="0" max="10"
                                   id="text_shadow_size2"
                                   v-model="second_shadow_num">
                            <span class="margin-label">{{ second_shadow_num }}px</span>
                        </div>
                        <div class="text-input">
                            <label for="text_shadow_size2" class="margin-label">歌名模糊:</label>
                            <input type="range" name="artist_font_size"
                                   class="set-color-text"
                                   min="0" max="10"
                                   id="text_shadow_blur"
                                   v-model="first_shadow_blur">
                            <span class="margin-label">{{ first_shadow_blur }}px</span>
                        </div>
                        <div class="text-input">
                            <label for="text_shadow_size2" class="margin-label">歌手模糊:</label>
                            <input type="range" name="artist_font_size"
                                   class="set-color-text"
                                   min="0" max="10"
                                   id="text_shadow_blur2"
                                   v-model="second_shadow_blur">
                            <span class="margin-label">{{ second_shadow_blur }}px</span>
                        </div>
                        <div class="text-input">
                            <label for="shadow_color" class="adjust-label">歌名颜色:</label>
                            <input type="text" name="music_color" class="set-color-text bili_base base"
                                   v-model="first_shadow_color">
                            <label for="color1"></label>
                            <input type="color" class="set-color-button" id="color1" value="#ff9900"
                                   v-model="first_shadow_color">
                        </div>
                        <div class="text-input">
                            <label for="shadow_color2" class="adjust-label">歌手颜色:</label>
                            <input type="text" name="artist_color"
                                   class="set-color-text bili_base base"
                                   id="shadow_color2"
                                   v-model="second_shadow_color">
                            <label for="color2"></label>
                            <input class="set-color-button" id="color2" type="color" v-model="second_shadow_color"
                                   value="#7a7a7a">
                        </div>
                    </div>
                    {% endverbatim %}

                    <div class="block-title">列表</div>
                    <div class="base-block">
                        <div class="text-input first-text-input">
                            <label for="text_shadow_size2" class="margin-label">行间距:</label>
                            <input type="range" name="artist_font_size"
                                   class="set-color-text"
                                   min="0" max="50"
                                   id="text_shadow_blur2"
                                   v-model="v_li_margin">
                            <span class="margin-label">{{ v_li_margin }}px</span>
                        </div>
                    </div>

                    <div class="block-title" style="">黑名单</div>
                    <div class="base-block" style="margin-bottom: 30px;">
                        <div class="width-height first-text-input">
                            <button class="base conform" v-on:click="mask1 = true" type="button">用户</button>
                            <button class="base conform" v-on:click="mask2 = true" type="button">歌曲</button>
                            <!--<button class="base conform" onclick="show_page_mask('#mask2')" type="button">用户列表</button>
                            <button class="base conform" onclick="show_page_mask('#mask2')" type="button">歌曲列表</button>-->
                        </div>
                    </div>
                </div>

                <div class="draw-line"></div>

                <div class="theme-set">
                    <div class="block-title">主题</div>
                    <div class="base-block">
                        <div class="theme-item">

                            <img class="img-item" alt="brown_cat" v-on:click="theme_id = 0"
                                 src={% static "images/brown_cat_1.png" %}>
                            <img class="img-item" alt="purple_neko_1" v-on:click="theme_id = 1"
                                 src={% static "images/blue_window_1.png" %}>
                            <img class="img-item" alt="purple_neko_1" v-on:click="theme_id = 2"
                                 src={% static "images/new.png" %}>

                            <div class="img-item" v-on:click="theme_id = 3" style="text-align: center">透明背景</div>
                            <div class="img-item" style="text-align: center">更多主题正在制作中~</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-mask" v-show="mask1">
        <div class="black-user-panel place-center">
            <div class="panel-content">
                {% verbatim %}
                <ul>
                    <transition-group mode="out-in">
                        <li v-for="(value, key) in black_user_list"
                            v-bind:key="'thi' + key" v-bind:id="'li'+value">
                            <div style="display: flex;flex-direction: column-reverse">
                                <span v-bind:key="'uid' + key">uid: {{ value.uid }}</span>
                                <span v-bind:key="'nick' + key">用户: {{ value.nick }}</span>
                            </div>
                            <div
                                    style="display: flex;flex-direction: row;width: 40%;justify-content: center;/*justify-content: flex-end;*/">
                                <button class="delete conform" v-on:click="black_user_list.splice(key, 1)">删除</button>
                                <!--<button class="delete conform">修改</button>-->
                            </div>
                        </li>
                    </transition-group>
                </ul>
                {% endverbatim %}
            </div>
            <div class="close-button control-button" v-on:click="mask1 = false"
                 onclick="$('#music_name').val('');$('#artist').val('')"
                 title="关闭">
                <span>✕</span>
            </div>
            <div class="add-button control-button" title="添加" v-on:click="mask1_1 = true">
                <span>┼</span>
            </div>
            <!--
            <div class="control-button upper-toggle">
                <input type="checkbox" name="switch" v-model="upper_flag">
                <span>不匹配大小写</span>
            </div>
            -->
            <div class="panel-title">黑名单用户</div>
        </div>
    </div>

    <div class="page-mask" v-show="mask1_1">
        <div class="add-panel place-center">
            <div class="panel-content">
                <div class="flex-center">
                    <label>
                        <span>
                            uid:
                            <i class="bcc-iconfont bcc-icon-ic_help" style="font-size: 14px;color: #0064c8"
                               title="把用户主页的链接直接复制过来就好啦"></i>
                             <input type="text" v-model.trim="black_user.uid" class="set-color-text base"
                                    placeholder="填写此项后面就不用填啦">
                        </span>
                        <span>
                            用户名:
                            <input type="text" v-model.trim="black_user.nick" class="set-color-text base"
                                   placeholder="不想找uid就只填名字吧~">
                        </span>

                    </label>

                    <input type="submit" class="base conform" value="提交"
                           onclick="utils.push_black(vm, 'user')">
                </div>
            </div>
            <div class="close-button control-button" v-on:click="mask1_1 = false"
                 onclick="$('#music_name').val('');$('#artist').val('')"
                 title="关闭">
                <span></span>
            </div>
            <div class="panel-title">添加</div>
        </div>
    </div>

    <div class="page-mask" v-show="mask2">
        <div class="black-user-panel place-center">
            <div class="panel-content">
                {% verbatim %}
                <ul>
                    <transition-group mode="out-in">
                        <li v-for="(value, key) in black_music_list"
                            v-bind:key="'thi' + key" v-bind:id="'li'+value">
                            <div style="display: flex;flex-direction: column-reverse">
                                <span v-bind:key="'artist' + key">歌手: {{ value.artist }}</span>
                                <span v-bind:key="'music_name' + key">歌曲名: {{ value.music_name }}</span>
                            </div>
                            <div
                                    style="display: flex;flex-direction: row;width: 40%;justify-content: center;/*justify-content: flex-end;*/">
                                <button class="delete conform" v-on:click="black_music_list.splice(key, 1)">删除
                                </button>
                                <!--<button class="delete conform">修改</button>-->
                            </div>
                        </li>
                    </transition-group>
                </ul>
                {% endverbatim %}
            </div>
            <div class="close-button control-button" v-on:click="mask2 = false"
                 onclick="$('#music_name').val('');$('#artist').val('')"
                 title="关闭">
                <span>✕</span>
            </div>
            <div class="add-button control-button" title="添加" v-on:click="mask2_1 = true">
                <span>┼</span>
            </div>
            <div class="panel-title">黑名单歌曲</div>
        </div>
    </div>

    <div class="page-mask" v-show="mask2_1">
        <div class="add-panel place-center">
            <div class="panel-content">
                <div class="flex-center">
                    <label>
                        <span>
                            歌曲名:
                            <i class="bcc-iconfont bcc-icon-ic_help" style="font-size: 14px;color: #0064c8"
                               title=""></i>
                            <input type="text" v-model.trim="black_music.music_name" class="set-color-text base"
                                   placeholder="">
                        </span>
                        <span>
                            歌手:
                            <input type="text" v-model.trim="black_music.artist" class="set-color-text base"
                                   placeholder="">
                        </span>
                    </label>
                    <input type="submit" class="base conform" value="提交"
                           onclick="utils.push_black(vm, 'music')">
                </div>
            </div>
            <div class="close-button control-button" v-on:click="mask2_1 = false"
                    {#                 onclick="$('#music_name').val('');$('#artist').val('')"#}
                 title="关闭">
                <span>✕</span>
            </div>
            <div class="panel-title">添加</div>
        </div>
    </div>

    <div class="page-mask" v-show="login_mask">
        <div class="add-panel place-center">
            {% verbatim %}
            <div class="flex-center">
                <aside class="QRCode-aside">
                    <ul>
                        <li v-bind:style="QRCCode_selected_style['qq']" onclick="utils.change_QRCode(vm, 'qq')">QQ音乐
                        </li>
                        <li style="display: none" v-bind:style="QRCCode_selected_style['ku_wo']"
                            onclick="utils.change_QRCode(vm, 'ku_wo')">酷我音乐
                        </li>
                        <li v-bind:style="QRCCode_selected_style['cloud']" onclick="utils.change_QRCode(vm, 'cloud')">
                            网易云音乐
                        </li>
                    </ul>
                </aside>
                <div class="QRCode">
                    <div class="QRCode-show" v-bind:style="QRCode_b64_style">
                        <i class="element-icons el-icon-loading" v-show="QRCode_load_flag&&QRCode_key!==''"></i>
                        <div style="font-size: 16px" v-show="QRCode_key==''">请选择平台</div>
                        <div class="QRCode-logged" v-show="QRCode_login_status[QRCode_key]">
                            <i class="element-icons el-icon-success"></i>
                            <div>已登录</div>
                        </div>
                    </div>
                    <div class="QRCode-refresh" onclick="utils.load_QRCode_b64(vm)"
                         v-show="!QRCode_login_status[QRCode_key]&&QRCode_key!==''">
                        <i class="element-icons el-icon-refresh-left"></i>
                        刷新二维码
                    </div>
                    <div class="QRCode-refresh" onclick="utils.set_login_status(vm)"
                         v-show="QRCode_login_status[QRCode_key]">
                        <i class="element-icons el-icon-switch-button"></i>
                        退出登录
                    </div>
                </div>
            </div>

            <div class="close-button control-button" v-on:click="login_mask = false" title="关闭">
                <span>✕</span>
            </div>

            <div class="panel-title">登录到&nbsp;{{ QRCode_where }}</div>
            {% endverbatim %}
        </div>
    </div>
    <div class="page-mask"
         v-show="(!set_flag)&&(real_status['qq'] !== undefined || real_status['cloud'] !== undefined)">
        <div class="add-panel place-center" style="width: 500px">
            {% verbatim %}
            <div class="flex-center">
                <div style="font-weight: bold;font-size: 39px;width: 96%;color: #ff0000;">
                    <span v-show="real_status['qq'] !== undefined">QQ音乐</span>
                    <span v-show="real_status['cloud'] !== undefined">网易云音乐</span>
                    登录失效，
                    <div>请在设置中重新登录！</div>
                </div>
            </div>
            <div class="panel-title">登录已失效！</div>
            {% endverbatim %}
        </div>
    </div>
</div>


</body>
</html>