<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Icons</title>
    <script src="/static/js/others/jquery-3.4.1.min.js"></script>
    <script src="/static/js/for_bilibili.js"></script>
    <script src="/static/js/array_equals.js"></script>
    <script src="/static/js/wss_for_bili.js"></script>
    <script src="/static/js/display_setting.js"></script>
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/sheet.css">
    <link rel="stylesheet" href="/static/css/bili.css">
    <link rel="stylesheet" href="/static/css/console.css">
    <style>
        .icon-display {

        }
        .icon-display i {
            color: #0064c8;
            font-size: 62px;
        }
    </style>
</head>
<body>

<div class="icon-display">
    <i class="bcc-iconfont bcc-icon-ic_help"></i>
    <i class="bcc-iconfont bcc-icon-ic_General_announcement2x"></i>
    <i class="bcc-iconfont bcc-icon-photo__upload2x"></i>
    <i class="bcc-iconfont bcc-icon-music__upload2x"></i>
    <i class="bcc-iconfont bcc-icon-interactive_upload2x"></i>
    <i class="bcc-iconfont bcc-icon-video_upload2x"></i>
    <i class="bcc-iconfont bcc-icon-column__upload2x"></i>
    <i class="bcc-iconfont bcc-icon-icon_change_"></i>
    <i class="bcc-iconfont bcc-icon-ic_audit"></i>
    <i class="bcc-iconfont bcc-icon-icon_time"></i>
    <i class="bcc-iconfont bcc-icon-ic_warning"></i>
    <i class="bcc-iconfont bcc-icon-ic_Playbackx"></i>
    <i class="bcc-iconfont bcc-icon-ic_Barragex"></i>
    <i class="bcc-iconfont bcc-icon-ic_Likesx"></i>
    <i class="bcc-iconfont bcc-icon-ic_contributionx"></i>
    <i class="bcc-iconfont bcc-icon-ic_Warningx"></i>
    <i class="bcc-iconfont bcc-icon-icon_action_share_n_x"></i>
    <i class="bcc-iconfont bcc-icon-icon_commentx"></i>
    <i class="bcc-iconfont bcc-icon-icon_action_collection_n_x"></i>
    <i class="bcc-iconfont bcc-icon-icon_list_more_x"></i>
    <i class="bcc-iconfont bcc-icon-icon_list_player_x1"></i>
    <i class="bcc-iconfont bcc-icon-icon_list_ranking_x1"></i>
    <i class="bcc-iconfont bcc-icon-Mediumx"></i>
    <i class="bcc-iconfont bcc-icon-Mediumx1"></i>
    <i class="bcc-iconfont bcc-icon-Mediumbeifenx"></i>
    <i class="bcc-iconfont bcc-icon-icon_action_reward_n_x"></i>
    <i class="bcc-iconfont bcc-icon-x1"></i>
    <i class="bcc-iconfont bcc-icon-x2"></i>
    <i class="bcc-iconfont bcc-icon-x3"></i>
    <i class="bcc-iconfont bcc-icon-x4"></i>
    <i class="bcc-iconfont bcc-icon-x5"></i>
    <i class="bcc-iconfont bcc-icon-x6"></i>
    <i class="bcc-iconfont bcc-icon-x7"></i>
    <i class="bcc-iconfont bcc-icon-x8"></i>
    <i class="bcc-iconfont bcc-icon-x9"></i>
    <i class="bcc-iconfont bcc-icon-x"></i>
    <i class="bcc-iconfont bcc-icon-icon_list_player_x"></i>
    <i class="bcc-iconfont bcc-icon-icon_list_ranking_x"></i>
    <i class="bcc-iconfont bcc-icon-ic_sortin_un"></i>
    <i class="bcc-iconfont bcc-icon-ic_sortin_on"></i>
    <i class="bcc-iconfont bcc-icon-combinedshape"></i>
    <i class="bcc-iconfont bcc-icon-ic_mall__oldx"></i>
    <i class="bcc-iconfont bcc-icon-ic_mall_"></i>
    <i class="bcc-iconfont bcc-icon-ic_course_"></i>
    <i class="bcc-iconfont bcc-icon-ic_Systemerror"></i>
    <i class="bcc-iconfont bcc-icon-ic_systemprompt"></i>
    <i class="bcc-iconfont bcc-icon-ic_successful"></i>
    <i class="bcc-iconfont bcc-icon-bubaohux"></i>
    <i class="bcc-iconfont bcc-icon-icon_tasklist_delete_"></i>
    <i class="bcc-iconfont bcc-icon-baohux"></i>
    <i class="bcc-iconfont bcc-icon-ic_exit"></i>
    <i class="bcc-iconfont bcc-icon-ic_Ishop"></i>
    <i class="bcc-iconfont bcc-icon-ic_management"></i>
    <i class="bcc-iconfont bcc-icon-ic_Livecenter"></i>
    <i class="bcc-iconfont bcc-icon-ic_moneypocket"></i>
    <i class="bcc-iconfont bcc-icon-ic_ordercenter"></i>
    <i class="bcc-iconfont bcc-icon-ic_Personalcenter"></i>
    <i class="bcc-iconfont bcc-icon-ic_MenuButton-tick"></i>
    <i class="bcc-iconfont bcc-icon-Defaultx"></i>
    <i class="bcc-iconfont bcc-icon-Selectedx"></i>
    <i class="bcc-iconfont bcc-icon-ic_search_"></i>
    <i class="bcc-iconfont bcc-icon-ic_contribute"></i>
    <i class="bcc-iconfont bcc-icon-ic_message_"></i>
    <i class="bcc-iconfont bcc-icon-ic_set_1"></i>
    <i class="bcc-iconfont bcc-icon-ic_experiment"></i>
    <i class="bcc-iconfont bcc-icon-ic_college_"></i>
    <i class="bcc-iconfont bcc-icon-ic_earnings_"></i>
    <i class="bcc-iconfont bcc-icon-ic_data_"></i>
    <i class="bcc-iconfont bcc-icon-ic_Content_"></i>
    <i class="bcc-iconfont bcc-icon-ic_home_"></i>
    <i class="bcc-iconfont bcc-icon-btn-more"></i>
    <i class="bcc-iconfont bcc-icon-ic_delete_"></i>
    <i class="bcc-iconfont bcc-icon-ic_growth"></i>
    <i class="bcc-iconfont bcc-icon-ic_enter"></i>
    <i class="bcc-iconfont bcc-icon-ic_drop-down"></i>
    <i class="bcc-iconfont bcc-icon-ic_fans_"></i>
    <i class="bcc-iconfont bcc-icon-kefu"></i>
    <i class="bcc-iconfont bcc-icon-ic_info-circle"></i>
    <i class="bcc-iconfont bcc-icon-ic_download_"></i>
    <i class="bcc-iconfont bcc-icon-ic_pull"></i>
    <i class="bcc-iconfont bcc-icon-ic_Placed"></i>
    <i class="bcc-iconfont bcc-icon-ic_help"></i>
    <i class="bcc-iconfont bcc-icon-ic_laboratory_"></i>
    <i class="bcc-iconfont bcc-icon-icon_action_recommend_p_"></i>
    <i class="bcc-iconfont bcc-icon-icon_into_history_gray_"></i>
    <i class="bcc-iconfont bcc-icon-icon_control_comment_"></i>
    <i class="bcc-iconfont bcc-icon-icon_tasklist_about_"></i>
    <i class="bcc-iconfont bcc-icon-icon_action_recommend_line_n_"></i>
    <i class="bcc-iconfont bcc-icon-icon_close_x"></i>
    <i class="bcc-iconfont bcc-icon-icon_dingdao_zhuzhan"></i>
    <i class="bcc-iconfont bcc-icon-icon_tasklist_feedback_"></i>
    <i class="bcc-iconfont bcc-icon-tag_"></i>
    <i class="bcc-iconfont bcc-icon-ic_interactive_"></i>
    <i class="bcc-iconfont bcc-icon-tag_1"></i>
    <i class="bcc-iconfont bcc-icon-tag_2"></i>
    <i class="iconfont icon-icon_comment"></i>
    <i class="iconfont icon-icon_fav"></i>
    <i class="iconfont icon-btn_video_grey"></i>
    <i class="iconfont icon-list_play"></i>
    <i class="iconfont icon-list_stop"></i>
    <i class="iconfont icon-icon_share"></i>
    <i class="iconfont icon-bofangquanbu_lanseanniu"></i>
    <i class="iconfont icon-refresh-"></i>
    <i class="iconfont icon-shouting"></i>
    <i class="iconfont icon-play"></i>
    <i class="iconfont icon-IconQzone"></i>
    <i class="iconfont icon-IconQQ"></i>
    <i class="iconfont icon-IconLink"></i>
    <i class="iconfont icon-ic_dongtai"></i>
    <i class="iconfont icon-IconWechat"></i>
    <i class="iconfont icon-IconSina"></i>
    <i class="iconfont icon-x"></i>
    <i class="iconfont icon-icon-test"></i>
    <i class="iconfont icon-icon-test1"></i>
    <i class="iconfont icon-minitv"></i>
    <i class="iconfont icon-icon_coin"></i>
    <i class="iconfont icon-CombinedShape"></i>
    <i class="iconfont icon-general_enter_s"></i>
    <i class="iconfont icon-icon-test2"></i>
    <i class="iconfont icon-icon_more"></i>
    <i class="iconfont icon-icon_x"></i>
    <i class="iconfont icon-icon_CombinedShape1"></i>
    <i class="iconfont icon-weixuanzekuang"></i>
    <i class="element-icons el-icon-ice-cream-round"></i>
    <i class="element-icons el-icon-ice-cream-square"></i>
    <i class="element-icons el-icon-lollipop"></i>
    <i class="element-icons el-icon-potato-strips"></i>
    <i class="element-icons el-icon-milk-tea"></i>
    <i class="element-icons el-icon-ice-drink"></i>
    <i class="element-icons el-icon-ice-tea"></i>
    <i class="element-icons el-icon-coffee"></i>
    <i class="element-icons el-icon-orange"></i>
    <i class="element-icons el-icon-pear"></i>
    <i class="element-icons el-icon-apple"></i>
    <i class="element-icons el-icon-cherry"></i>
    <i class="element-icons el-icon-watermelon"></i>
    <i class="element-icons el-icon-grape"></i>
    <i class="element-icons el-icon-refrigerator"></i>
    <i class="element-icons el-icon-goblet-square-full"></i>
    <i class="element-icons el-icon-goblet-square"></i>
    <i class="element-icons el-icon-goblet-full"></i>
    <i class="element-icons el-icon-goblet"></i>
    <i class="element-icons el-icon-cold-drink"></i>
    <i class="element-icons el-icon-coffee-cup"></i>
    <i class="element-icons el-icon-water-cup"></i>
    <i class="element-icons el-icon-hot-water"></i>
    <i class="element-icons el-icon-ice-cream"></i>
    <i class="element-icons el-icon-dessert"></i>
    <i class="element-icons el-icon-sugar"></i>
    <i class="element-icons el-icon-tableware"></i>
    <i class="element-icons el-icon-burger"></i>
    <i class="element-icons el-icon-knife-fork"></i>
    <i class="element-icons el-icon-fork-spoon"></i>
    <i class="element-icons el-icon-chicken"></i>
    <i class="element-icons el-icon-food"></i>
    <i class="element-icons el-icon-dish-1"></i>
    <i class="element-icons el-icon-dish"></i>
    <i class="element-icons el-icon-moon-night"></i>
    <i class="element-icons el-icon-moon"></i>
    <i class="element-icons el-icon-cloudy-and-sunny"></i>
    <i class="element-icons el-icon-partly-cloudy"></i>
    <i class="element-icons el-icon-cloudy"></i>
    <i class="element-icons el-icon-sunny"></i>
    <i class="element-icons el-icon-sunset"></i>
    <i class="element-icons el-icon-sunrise-1"></i>
    <i class="element-icons el-icon-sunrise"></i>
    <i class="element-icons el-icon-heavy-rain"></i>
    <i class="element-icons el-icon-lightning"></i>
    <i class="element-icons el-icon-light-rain"></i>
    <i class="element-icons el-icon-wind-power"></i>
    <i class="element-icons el-icon-baseball"></i>
    <i class="element-icons el-icon-soccer"></i>
    <i class="element-icons el-icon-football"></i>
    <i class="element-icons el-icon-basketball"></i>
    <i class="element-icons el-icon-ship"></i>
    <i class="element-icons el-icon-truck"></i>
    <i class="element-icons el-icon-bicycle"></i>
    <i class="element-icons el-icon-mobile-phone"></i>
    <i class="element-icons el-icon-service"></i>
    <i class="element-icons el-icon-key"></i>
    <i class="element-icons el-icon-unlock"></i>
    <i class="element-icons el-icon-lock"></i>
    <i class="element-icons el-icon-watch"></i>
    <i class="element-icons el-icon-watch-1"></i>
    <i class="element-icons el-icon-timer"></i>
    <i class="element-icons el-icon-alarm-clock"></i>
    <i class="element-icons el-icon-map-location"></i>
    <i class="element-icons el-icon-delete-location"></i>
    <i class="element-icons el-icon-add-location"></i>
    <i class="element-icons el-icon-location-information"></i>
    <i class="element-icons el-icon-location-outline"></i>
    <i class="element-icons el-icon-location"></i>
    <i class="element-icons el-icon-place"></i>
    <i class="element-icons el-icon-discover"></i>
    <i class="element-icons el-icon-first-aid-kit"></i>
    <i class="element-icons el-icon-trophy-1"></i>
    <i class="element-icons el-icon-trophy"></i>
    <i class="element-icons el-icon-medal"></i>
    <i class="element-icons el-icon-medal-1"></i>
    <i class="element-icons el-icon-stopwatch"></i>
    <i class="element-icons el-icon-mic"></i>
    <i class="element-icons el-icon-copy-document"></i>
    <i class="element-icons el-icon-full-screen"></i>
    <i class="element-icons el-icon-switch-button"></i>
    <i class="element-icons el-icon-aim"></i>
    <i class="element-icons el-icon-crop"></i>
    <i class="element-icons el-icon-odometer"></i>
    <i class="element-icons el-icon-time"></i>
    <i class="element-icons el-icon-bangzhu"></i>
    <i class="element-icons el-icon-close-notification"></i>
    <i class="element-icons el-icon-microphone"></i>
    <i class="element-icons el-icon-turn-off-microphone"></i>
    <i class="element-icons el-icon-position"></i>
    <i class="element-icons el-icon-postcard"></i>
    <i class="element-icons el-icon-message"></i>
    <i class="element-icons el-icon-chat-line-square"></i>
    <i class="element-icons el-icon-chat-dot-square"></i>
    <i class="element-icons el-icon-chat-dot-round"></i>
    <i class="element-icons el-icon-chat-square"></i>
    <i class="element-icons el-icon-chat-line-round"></i>
    <i class="element-icons el-icon-chat-round"></i>
    <i class="element-icons el-icon-set-up"></i>
    <i class="element-icons el-icon-turn-off"></i>
    <i class="element-icons el-icon-open"></i>
    <i class="element-icons el-icon-connection"></i>
    <i class="element-icons el-icon-link"></i>
    <i class="element-icons el-icon-cpu"></i>
    <i class="element-icons el-icon-thumb"></i>
    <i class="element-icons el-icon-female"></i>
    <i class="element-icons el-icon-male"></i>
    <i class="element-icons el-icon-guide"></i>
    <i class="element-icons el-icon-news"></i>
    <i class="element-icons el-icon-price-tag"></i>
    <i class="element-icons el-icon-discount"></i>
    <i class="element-icons el-icon-wallet"></i>
    <i class="element-icons el-icon-coin"></i>
    <i class="element-icons el-icon-money"></i>
    <i class="element-icons el-icon-bank-card"></i>
    <i class="element-icons el-icon-box"></i>
    <i class="element-icons el-icon-present"></i>
    <i class="element-icons el-icon-sell"></i>
    <i class="element-icons el-icon-sold-out"></i>
    <i class="element-icons el-icon-shopping-bag-2"></i>
    <i class="element-icons el-icon-shopping-bag-1"></i>
    <i class="element-icons el-icon-shopping-cart-2"></i>
    <i class="element-icons el-icon-shopping-cart-1"></i>
    <i class="element-icons el-icon-shopping-cart-full"></i>
    <i class="element-icons el-icon-smoking"></i>
    <i class="element-icons el-icon-no-smoking"></i>
    <i class="element-icons el-icon-house"></i>
    <i class="element-icons el-icon-table-lamp"></i>
    <i class="element-icons el-icon-school"></i>
    <i class="element-icons el-icon-office-building"></i>
    <i class="element-icons el-icon-toilet-paper"></i>
    <i class="element-icons el-icon-notebook-2"></i>
    <i class="element-icons el-icon-notebook-1"></i>
    <i class="element-icons el-icon-files"></i>
    <i class="element-icons el-icon-collection"></i>
    <i class="element-icons el-icon-receiving"></i>
    <i class="element-icons el-icon-suitcase-1"></i>
    <i class="element-icons el-icon-suitcase"></i>
    <i class="element-icons el-icon-film"></i>
    <i class="element-icons el-icon-collection-tag"></i>
    <i class="element-icons el-icon-data-analysis"></i>
    <i class="element-icons el-icon-pie-chart"></i>
    <i class="element-icons el-icon-data-board"></i>
    <i class="element-icons el-icon-data-line"></i>
    <i class="element-icons el-icon-reading"></i>
    <i class="element-icons el-icon-magic-stick"></i>
    <i class="element-icons el-icon-coordinate"></i>
    <i class="element-icons el-icon-mouse"></i>
    <i class="element-icons el-icon-brush"></i>
    <i class="element-icons el-icon-headset"></i>
    <i class="element-icons el-icon-umbrella"></i>
    <i class="element-icons el-icon-scissors"></i>
    <i class="element-icons el-icon-mobile"></i>
    <i class="element-icons el-icon-attract"></i>
    <i class="element-icons el-icon-monitor"></i>
    <i class="element-icons el-icon-search"></i>
    <i class="element-icons el-icon-takeaway-box"></i>
    <i class="element-icons el-icon-paperclip"></i>
    <i class="element-icons el-icon-printer"></i>
    <i class="element-icons el-icon-document-add"></i>
    <i class="element-icons el-icon-document"></i>
    <i class="element-icons el-icon-document-checked"></i>
    <i class="element-icons el-icon-document-copy"></i>
    <i class="element-icons el-icon-document-delete"></i>
    <i class="element-icons el-icon-document-remove"></i>
    <i class="element-icons el-icon-tickets"></i>
    <i class="element-icons el-icon-folder-checked"></i>
    <i class="element-icons el-icon-folder-delete"></i>
    <i class="element-icons el-icon-folder-remove"></i>
    <i class="element-icons el-icon-folder-add"></i>
    <i class="element-icons el-icon-folder-opened"></i>
    <i class="element-icons el-icon-folder"></i>
    <i class="element-icons el-icon-edit-outline"></i>
    <i class="element-icons el-icon-edit"></i>
    <i class="element-icons el-icon-date"></i>
    <i class="element-icons el-icon-c-scale-to-original"></i>
    <i class="element-icons el-icon-view"></i>
    <i class="element-icons el-icon-loading"></i>
    <i class="element-icons el-icon-rank"></i>
    <i class="element-icons el-icon-sort-down"></i>
    <i class="element-icons el-icon-sort-up"></i>
    <i class="element-icons el-icon-sort"></i>
    <i class="element-icons el-icon-finished"></i>
    <i class="element-icons el-icon-refresh-left"></i>
    <i class="element-icons el-icon-refresh-right"></i>
    <i class="element-icons el-icon-refresh"></i>
    <i class="element-icons el-icon-video-play"></i>
    <i class="element-icons el-icon-video-pause"></i>
    <i class="element-icons el-icon-d-arrow-right"></i>
    <i class="element-icons el-icon-d-arrow-left"></i>
    <i class="element-icons el-icon-arrow-up"></i>
    <i class="element-icons el-icon-arrow-down"></i>
    <i class="element-icons el-icon-arrow-right"></i>
    <i class="element-icons el-icon-arrow-left"></i>
    <i class="element-icons el-icon-top-right"></i>
    <i class="element-icons el-icon-top-left"></i>
    <i class="element-icons el-icon-top"></i>
    <i class="element-icons el-icon-bottom"></i>
    <i class="element-icons el-icon-right"></i>
    <i class="element-icons el-icon-back"></i>
    <i class="element-icons el-icon-bottom-right"></i>
    <i class="element-icons el-icon-bottom-left"></i>
    <i class="element-icons el-icon-caret-top"></i>
    <i class="element-icons el-icon-caret-bottom"></i>
    <i class="element-icons el-icon-caret-right"></i>
    <i class="element-icons el-icon-caret-left"></i>
    <i class="element-icons el-icon-d-caret"></i>
    <i class="element-icons el-icon-share"></i>
    <i class="element-icons el-icon-menu"></i>
    <i class="element-icons el-icon-s-grid"></i>
    <i class="element-icons el-icon-s-check"></i>
    <i class="element-icons el-icon-s-data"></i>
    <i class="element-icons el-icon-s-opportunity"></i>
    <i class="element-icons el-icon-s-custom"></i>
    <i class="element-icons el-icon-s-claim"></i>
    <i class="element-icons el-icon-s-finance"></i>
    <i class="element-icons el-icon-s-comment"></i>
    <i class="element-icons el-icon-s-flag"></i>
    <i class="element-icons el-icon-s-marketing"></i>
    <i class="element-icons el-icon-s-shop"></i>
    <i class="element-icons el-icon-s-open"></i>
    <i class="element-icons el-icon-s-management"></i>
    <i class="element-icons el-icon-s-ticket"></i>
    <i class="element-icons el-icon-s-release"></i>
    <i class="element-icons el-icon-s-home"></i>
    <i class="element-icons el-icon-s-promotion"></i>
    <i class="element-icons el-icon-s-operation"></i>
    <i class="element-icons el-icon-s-unfold"></i>
    <i class="element-icons el-icon-s-fold"></i>
    <i class="element-icons el-icon-s-platform"></i>
    <i class="element-icons el-icon-s-order"></i>
    <i class="element-icons el-icon-s-cooperation"></i>
    <i class="element-icons el-icon-bell"></i>
    <i class="element-icons el-icon-message-solid"></i>
    <i class="element-icons el-icon-video-camera"></i>
    <i class="element-icons el-icon-video-camera-solid"></i>
    <i class="element-icons el-icon-camera"></i>
    <i class="element-icons el-icon-camera-solid"></i>
    <i class="element-icons el-icon-download"></i>
    <i class="element-icons el-icon-upload2"></i>
    <i class="element-icons el-icon-upload"></i>
    <i class="element-icons el-icon-picture-outline-round"></i>
    <i class="element-icons el-icon-picture-outline"></i>
    <i class="element-icons el-icon-picture"></i>
    <i class="element-icons el-icon-close"></i>
    <i class="element-icons el-icon-check"></i>
    <i class="element-icons el-icon-plus"></i>
    <i class="element-icons el-icon-minus"></i>
    <i class="element-icons el-icon-help"></i>
    <i class="element-icons el-icon-s-help"></i>
    <i class="element-icons el-icon-circle-close"></i>
    <i class="element-icons el-icon-circle-check"></i>
    <i class="element-icons el-icon-circle-plus-outline"></i>
    <i class="element-icons el-icon-remove-outline"></i>
    <i class="element-icons el-icon-zoom-out"></i>
    <i class="element-icons el-icon-zoom-in"></i>
    <i class="element-icons el-icon-error"></i>
    <i class="element-icons el-icon-success"></i>
    <i class="element-icons el-icon-circle-plus"></i>
    <i class="element-icons el-icon-remove"></i>
    <i class="element-icons el-icon-info"></i>
    <i class="element-icons el-icon-question"></i>
    <i class="element-icons el-icon-warning-outline"></i>
    <i class="element-icons el-icon-warning"></i>
    <i class="element-icons el-icon-goods"></i>
    <i class="element-icons el-icon-s-goods"></i>
    <i class="element-icons el-icon-star-off"></i>
    <i class="element-icons el-icon-star-on"></i>
    <i class="element-icons el-icon-more-outline"></i>
    <i class="element-icons el-icon-more"></i>
    <i class="element-icons el-icon-phone-outline"></i>
    <i class="element-icons el-icon-phone"></i>
    <i class="element-icons el-icon-user"></i>
    <i class="element-icons el-icon-user-solid"></i>
    <i class="element-icons el-icon-setting"></i>
    <i class="element-icons el-icon-s-tools"></i>
    <i class="element-icons el-icon-delete"></i>
    <i class="element-icons el-icon-delete-solid"></i>
    <i class="element-icons el-icon-eleme"></i>
    <i class="element-icons el-icon-platform-eleme"></i>
</div>

</body>
</html>