{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LiveMusic教程</title>
    <script src="{% static "js/others/jquery-3.4.1.min.js" %}"></script>
    {% if dev %}
        <script src="{% static "js/others/vue.js" %}"></script>
        <script src="{% static "js/myUtils.js" %}"></script>
        <script src="{% static "js/for_bilibili.js" %}"></script>
        <script src="{% static "js/array_equals.js" %}"></script>
        <script src="{% static "/js/wss_for_bili.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/iconfont.css" %}">
        <link rel="stylesheet" href="{% static "/css/new_course.css" %}">
    {% else %}
        <script src="{% static "js/others/vue.min.js" %}"></script>
        <script src="{% static "js/myUtils.min.js" %}"></script>
        <script src="{% static "js/for_bilibili.min.js" %}"></script>
        <script src="{% static "js/array_equals.min.js" %}"></script>
        <script src="{% static "/js/wss_for_bili.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/iconfont.min.css" %}">
        <link rel="stylesheet" href="{% static "/css/new_course.min.css" %}">
    {% endif %}
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <script>
        let vm
        window.onload = () => {
            vm = new Vue({
                el: '.main-page',
                data: {
                    dom_id_map: [],
                    toggle_text: ['展开', '收起'],
                    toggle_class: ['toggle-box', 'fixed-toggle'],
                    // fixed_status: [],
                    toggle_status: [],  // 0 is display, 1 is hidden
                    flex_direction: ['row', 'column'],
                },
                methods: {
                    dh_item(select_obj_text) {
                        let i = parseInt(select_obj_text.split('').reverse()[0])
                        $(select_obj_text).toggle(500);
                        this.toggle_status[i] = Number(!this.toggle_status[i])
                        this.toggle_status.push(1)
                        this.toggle_status.pop()
                    },
                    /**
                     handleScroll() {
                        let margin = 20
                        let history = 0
                        const scrollTop = document.documentElement.scrollTop || document.body.scrollTop
                        console.log('scrollTop: ' + scrollTop)
                        for (let i = 0; i < this.dom_id_map.length; i++) {
                            let domIdMapElement = this.dom_id_map[i].split('')
                            domIdMapElement.shift()
                            domIdMapElement = domIdMapElement.join('')
                            console.log(domIdMapElement)
                            const offsetHeight = this.$refs[domIdMapElement].offsetHeight
                            const innerHeight = window.innerHeight
                            history += offsetHeight
                            const bottom = Math.abs(history - innerHeight) + margin
                            const is_fixed = scrollTop < bottom && bottom - offsetHeight < scrollTop
                            console.log('history: %d offsetHeight: %d innerHeight: %d bottom: %d is_fixed: %s', history, offsetHeight, innerHeight, bottom, is_fixed)
                            margin += 20
                            if (this.toggle_status[i]) {
                                this.fixed_status[i] = Number(is_fixed)
                                this.fixed_status.push(0)
                                this.fixed_status.pop()
                                console.log(this.fixed_status)
                                if (is_fixed) {
                                    for (let j = i + 1; j < this.fixed_status.length; j++) {
                                        this.fixed_status[j] = 0
                                    }
                                    this.fixed_status.push(0)
                                    this.fixed_status.pop()
                                    break
                                }
                            }
                            console.log(this.fixed_status)
                        }
                        console.log('')
                    },*/
                },
                /**
                 mounted() {
                    window.addEventListener('scroll', this.handleScroll)
                },*/
                created() {
                    for (let i = 0; i < 5; i++) {
                        this.dom_id_map.push('#course' + i)
                        // this.fixed_status.push(0)
                        this.toggle_status.push(1)
                    }
                    let now_url = window.location.href
                    let loc_id = decodeURI(now_url.split('#').reverse()[0])
                    console.log(loc_id)
                    setTimeout(() => {
                        document.getElementById(loc_id).scrollIntoView()
                    }, 500)
                }
            })
        }
    </script>
</head>
<body>
<div class="main-page">
    <aside style="width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    bottom: 0;
    background-color: #ffffff;">
        <ul>
            <li>
                <a href="#开始使用点歌">跳转开始使用点歌位置</a>
            </li>
        </ul>
    </aside>
    <div style="padding-left: 300px">
        <div class="cell" ref="course0" v-bind:style="{flexDirection: flex_direction[toggle_status[0]]}">
            <div class="core">
                <h2 class="core-title" id="插件的获取与添加">
                    <a class="jump-link jump-mark" href="#插件的获取与添加">#</a>
                    一、插件的获取与添加
                </h2>
                <div class="core-content" id="course0">
                    <h3 class="course-title second-indent">1. 通过网页</h3>
                    <div class="course-title third-indent">（1） 打开B站 直播中心，在右上角找到饭盒-饭贩</div>
                    <img class="course-img" src="{% static "images/course/image001.png" %}" alt="">
                    <div class="course-title third-indent">（2） 点击H5插件，找到弹幕点歌，点击获取后点击复制H5插件链接</div>
                    <img class="course-img" src="{% static "images/course/image002.png" %}" alt="">
                    <div class="course-title third-indent" id="歌名界面">（3） 打开obs，在 "来源" 里添加浏览器源 (歌名界面)</div>
                    <img class="course-img" src="{% static "images/course/image003.png" %}" alt="">
                    <img class="course-img" src="{% static "images/course/image004.png" %}" alt="">
                    <div class="course-title third-indent">（4） 将链接粘贴到url栏中，并勾选“通过OBS控制音频”，确定</div>
                    <img class="course-img" src="{% static "images/course/image005.png" %}" alt="">
                    <div class="course-title third-indent">（5） 现在你已经添加好了“歌名界面”</div>
                    <img class="course-img" src="{% static "images/course/image006.png" %}" alt="">
                    <div class="course-title third-indent">（6） 现在添加“歌词界面”，<span class="fluorescent">无歌词显示需求的可以跳过</span>
                    </div>
                    <div class="course-title third-indent">（7） 回到饭贩-H5插件界面，点击项目名进入项目详情</div>
                    <img class="course-img" src="{% static "images/course/image007.png" %}" alt="">
                    <div class="course-title third-indent">（8） 在H5插件配置里，点击“转到歌词设置”，点击“复制歌词插件链接”</div>
                    <img class="course-img" src="{% static "images/course/image008.png" %}" alt="">
                    <img class="course-img" src="{% static "images/course/image009.png" %}" alt="">
                    <div class="course-title third-indent">
                        （9） 再次添加浏览器源，将链接粘贴到url栏中，设置同
                        <a class="jump-link" href="#歌名界面">歌名界面</a>
                    </div>
                    <div class="course-title third-indent">（10）现在你已经添加好“歌词界面”</div>
                    <img class="course-img" src="{% static "images/course/image010.png" %}" alt="">
                    <h3 class="course-title second-indent">2. 通过直播姬</h3>
                    <div class="course-title third-indent">（1） 打开直播姬，找到H5插件，进入</div>
                    <img class="course-img" src="{% static "images/course/image011.png" %}" alt="">
                    <div class="course-title third-indent">（2） 找到“弹幕点歌“</div>
                    <img class="course-img" src="{% static "images/course/image012.png" %}" alt="">
                    <div class="course-title third-indent">（3） 您可以选择直接添加也可以点击描述进入饭贩详情页</div>
                    <img class="course-img" src="{% static "images/course/image013.png" %}" alt="">
                    <div class="course-title third-indent">（4） 点击添加使用，现在你已经添加好“歌名界面”</div>
                    <img class="course-img" src="{% static "images/course/image014.png" %}" alt="">
                    <div class="course-title third-indent">（5） 现在添加“歌词界面”，<span class="fluorescent">无歌词显示需求的可以跳过</span>
                    </div>
                    <div class="course-title third-indent">（6） 回到第2步的界面，点击描述进入饭贩详情页</div>
                    <img class="course-img" src="{% static "images/course/image015.png" %}" alt="">
                    <div class="course-title third-indent">（7） 浏览器将自动弹出项目详情</div>
                    <img class="course-img" src="{% static "images/course/image007.png" %}" alt="">
                    <div class="course-title third-indent">（8） 在H5插件配置里，点击“转到歌词设置”，点击“复制歌词插件链接”</div>
                    <img class="course-img" src="{% static "images/course/image008.png" %}" alt="">
                    <img class="course-img" src="{% static "images/course/image009.png" %}" alt="">
                    <div class="course-title third-indent">（9） 回到直播姬，在左侧的场景中添加素材，选择浏览器</div>
                    <img class="course-img" src="{% static "images/course/image016.png" %}" alt="">
                    <img class="course-img" src="{% static "images/course/image017.png" %}" alt="">
                    <div class="course-title third-indent">（10）将链接粘贴到url栏中，监听设置为“仅监听，声音输出到系统声音”，点击确定</div>
                    <img class="course-img" src="{% static "images/course/image018.png" %}" alt="">
                    <div class="course-title third-indent">（11）现在你已经添加好“歌词界面”</div>
                    <img class="course-img" src="{% static "images/course/image019.png" %}" alt="">
                    <!--
                <div class="course-title third-indent"></div>
{#                <img class="course-img" src="{% static "images/course/" %}" alt="">#}-->
                </div>
            </div>
            {% verbatim %}
            <div v-on:click="dh_item(dom_id_map[0])" v-bind:class="toggle_class[toggle_status[0]]">
                <div class="toggle-text">
                    {{ toggle_text[toggle_status[0]] }}
                    <i class="element-icons el-icon-arrow-up" v-show="toggle_status[0]"></i>
                    <i class="element-icons el-icon-arrow-down" v-show="!toggle_status[0]"></i>
                </div>
            </div>
            {% endverbatim %}
        </div>
        <div class="cell" ref="course1" v-bind:style="{flexDirection: flex_direction[toggle_status[1]]}">
            <div class="core">
                <h2 class="core-title" id="设置样式">
                    <a class="jump-link jump-mark" href="#设置样式">#</a>
                    二、设置样式
                </h2>
                <div class="core-content" id="course1">
                    <h3 class="course-title second-indent">1. 通过网页</h3>
                    <div class="course-title third-indent">（1） 进入详情页，找到H5配置页面</div>
                    <img class="course-img" src="{% static "images/course/image020.png" %}" alt="">
                    <img class="course-img" src="{% static "images/course/image021.png" %}" alt="">
                    <div class="course-title third-indent">（2） 调整完后右上角会出现保存中的提示，请等待提示变化为已保存</div>
                    <img class="course-img" src="{% static "images/course/image022.png" %}" alt="">
                    <div class="course-title third-indent">（3） 歌词样式设置，先切换到“歌词设置”界面</div>
                    <img class="course-img" src="{% static "images/course/image023.png" %}" alt="">
                    <img class="course-img" src="{% static "images/course/image024.png" %}" alt="">
                    <h3 class="course-title second-indent">2. 通过直播姬</h3>
                    <div class="course-title third-indent">（1） 在右边的场景中找到弹幕点歌的浏览器源，点击编辑</div>
                    <img class="course-img" src="{% static "images/course/image025.png" %}" alt="">
                    <div class="course-title third-indent">（2） 在弹出的插件设置窗口中即可设置样式</div>
                    <h3 class="course-title second-indent">3. 附：字体设置方法</h3>
                    <div class="course-title third-indent">（1） 字体设置的字体名称为自己系统内字体名称，以下是查看本地系统安装字体的方法</div>
                    <img class="course-img" src="{% static "images/course/image026.png" %}" alt="">
                    <div class="course-title third-indent">（2） 在任务栏的搜索框里搜索“字体设置”，打开。（或打开设置-个性化-字体）</div>
                    <img class="course-img" src="{% static "images/course/image027.png" %}" alt="">
                    <div class="course-title third-indent">（3） 可用字体下面就是本地系统安装的字体，设置字体时请输入蓝色字体名称。</div>
                    <img class="course-img" src="{% static "images/course/image028.png" %}" alt="">
                </div>
            </div>
            {% verbatim %}
            <div v-on:click="dh_item(dom_id_map[1])" v-bind:class="toggle_class[toggle_status[1]]">
                <div class="toggle-text">
                    {{ toggle_text[toggle_status[1]] }}
                    <i class="element-icons el-icon-arrow-up" v-show="toggle_status[1]"></i>
                    <i class="element-icons el-icon-arrow-down" v-show="!toggle_status[1]"></i>
                </div>
            </div>
            {% endverbatim %}
        </div>
        <div class="cell" ref="course2" v-bind:style="{flexDirection: flex_direction[toggle_status[2]]}">
            <div class="core">
                <h2 class="core-title" id="黑名单设置">
                    <a class="jump-link jump-mark" href="#黑名单设置">#</a>
                    三、黑名单设置
                </h2>
                <div class="core-content" id="course2">
                    <h3 class="course-title second-indent" id="用户黑名单">用户黑名单</h3>
                    <div class="course-title third-indent">（1） 打开任意设置界面，在设置中往下翻到最底，点击“用户”</div>
                    <img class="course-img" src="{% static "images/course/image029.png" %}" alt="">
                    <div class="course-title third-indent">（2） 点击右上角的加号</div>
                    <img class="course-img" src="{% static "images/course/image030.png" %}" alt="">
                    <div class="course-title third-indent">（3） 填好信息按“提交即可”</div>
                    <img class="course-img" src="{% static "images/course/image031.png" %}" alt="">
                    <img class="course-img" src="{% static "images/course/image032.png" %}" alt="">
                    <div class="course-title third-indent">歌曲黑名单</div>
                    <div class="course-title third-indent">（1） 点击歌曲黑名单</div>
                    <img class="course-img" src="{% static "images/course/music.png" %}" alt="">
                    <div class="course-title third-indent">
                        （2） 同上
                        <a class="jump-link" href="#用户黑名单">用户黑名单</a>
                    </div>
                    <h3 class="course-title second-indent">附：如何找到uid？</h3>
                    <div class="course-title third-indent">（1） 打开直播间评论区，找到想要屏蔽的用户，点击名称-去TA的个人空间</div>
                    <img class="course-img" src="{% static "images/course/image033.png" %}" alt="">
                    <div class="course-title third-indent">（2） 双击网址中的数字部分，复制数字</div>
                    <img class="course-img" src="{% static "images/course/image034.png" %}" alt="">
                    <div class="img-text">（这只猫猫狐超可爱快关注他（）</div>
                </div>
            </div>
            {% verbatim %}
            <div v-on:click="dh_item(dom_id_map[2])" v-bind:class="toggle_class[toggle_status[2]]">
                <div class="toggle-text">
                    {{ toggle_text[toggle_status[2]] }}
                    <i class="element-icons el-icon-arrow-up" v-show="toggle_status[2]"></i>
                    <i class="element-icons el-icon-arrow-down" v-show="!toggle_status[2]"></i>
                </div>
            </div>
            {% endverbatim %}
        </div>
        <div class="cell" ref="course3" v-bind:style="{flexDirection: flex_direction[toggle_status[3]]}">
            <div class="core">
                <h2 class="core-title" id="开始使用点歌">
                    <a class="jump-link jump-mark" href="#开始使用点歌">#</a>
                    四、开始使用点歌
                </h2>
                <div class="core-content" id="course3">
                    <div class="course-title third-indent">1. 进入详情页，找到H5配置页面，点开“转到歌曲控制台“</div>
                    <img class="course-img" src="{% static "images/course/image035.png" %}" alt="">
                    <img class="course-img" src="{% static "images/course/image036.png" %}" alt="">

                    <div class="course-title forth-indent">①.返回之前的界面</div>
                    <div class="course-title forth-indent">②. 自助修复问题</div>
                    <div class="course-title forth-indent">③. 当前歌曲信息</div>
                    <div class="course-title forth-indent">④.
                        开始/停止统计弹幕指令。按“开始统计”后，直播间的点歌才会起效。按“停止统计”后，插件不再响应直播间的点歌指令，但已经收集的歌曲仍会按序播放。
                    </div>
                    <div class="course-title forth-indent">⑤. 切换歌曲的播放位置，解释和设置起来有些麻烦，以下总结了几种情况的设置：</div>
                    <div class="course-title fifth-indent">a) 直播界面里只展示“歌名界面”时，开关应该设置为“由歌名界面播放”</div>
                    <div class="course-title fifth-indent">b) 直播界面里只展示“歌词界面”时，开关应该设置为“由歌词界面播放”</div>
                    <div class="course-title fifth-indent">c) 直播界面里展示“歌词界面”和“歌名界面”时，开关应该设置为“由歌词界面播放“</div>
                    <div class="course-title forth-indent">⑥. 直接添加一首歌曲</div>
                    <img class="course-img" src="{% static "images/course/image037.png" %}" alt="">
                    <div class="course-title fifth-indent">
                        a) 要添加的歌曲名字
                        <span class="fluorescent">（请准确填写歌曲原名，外语请不要用中文代替）</span>
                    </div>
                    <div class="course-title fifth-indent">b) 指定是谁唱的这首歌</div>
                    <div class="course-title fifth-indent">c) 提交歌曲到播放列表</div>
                    <div class="course-title forth-indent">⑦. 重新播放当前播放的歌曲</div>
                    <div class="course-title forth-indent">⑧. 播放/暂停当前歌曲</div>
                    <div class="course-title forth-indent">⑨. 播放下一首歌曲</div>
                    <div class="course-title forth-indent">⑩. 下一首要播放的歌曲信息（等待播放列表的第一项）</div>
                    <div class="course-title forth-indent">⑪. 下下首要播放的歌曲信息（等待播放列表的第二项）</div>
                    <div class="course-title forth-indent">⑫. 从列表里删除此歌曲</div>
                    <div class="course-title forth-indent">⑬. 立即播放此歌曲（移除当前正在播放的歌曲，播放选择的歌曲）</div>
                    <div class="course-title forth-indent">⑭. 将此歌曲设为下一首播放（移动此歌曲到等待列表的第一项）</div>
                    <div class="course-title forth-indent">⑮. 获取歌曲时产生的成功和失败信息</div>

                </div>
            </div>
            {% verbatim %}
            <div v-on:click="dh_item(dom_id_map[3])" v-bind:class="toggle_class[toggle_status[3]]">
                <div class="toggle-text">
                    {{ toggle_text[toggle_status[3]] }}
                    <i class="element-icons el-icon-arrow-up" v-show="toggle_status[3]"></i>
                    <i class="element-icons el-icon-arrow-down" v-show="!toggle_status[3]"></i>
                </div>
            </div>
            {% endverbatim %}
        </div>
        <div class="cell" ref="course4" v-bind:style="{flexDirection: flex_direction[toggle_status[4]]}">
            <div class="core">
                <h2 class="core-title" id="Q&A">
                    <a class="jump-link jump-mark" href="#Q&A">#</a>
                    Q&A
                </h2>
                <div class="core-content" id="course4">
                    <div class="course-title third-indent">1. 为什么观众发送点歌弹幕插件没有反应？</div>
                    <div class="course-title forth-indent">
                        A: 请先检查“歌曲控制台”中“开始统计”按钮是否按下变成了“停止统计”
                        <a class="jump-link" href="#开始使用点歌">跳转开始使用点歌位置</a>
                    </div>

                </div>
            </div>
            {% verbatim %}
            <div v-on:click="dh_item(dom_id_map[4])" v-bind:class="toggle_class[toggle_status[4]]">
                <div class="toggle-text">
                    {{ toggle_text[toggle_status[4]] }}
                    <i class="element-icons el-icon-arrow-up" v-show="toggle_status[4]"></i>
                    <i class="element-icons el-icon-arrow-down" v-show="!toggle_status[4]"></i>
                </div>
            </div>
            {% endverbatim %}
        </div>
    </div>
</div>
</body>
</html>