<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误信息</title>
    <style>
        #apps {
            margin-top: 18%;
        }
        #show {
            color: #6b757b;
            text-align: center;
            transition: .3s cubic-bezier(0.22, 0.61, 0.36, 1);
            font-family: "Microsoft YaHei", "Microsoft Sans Serif", "Microsoft SanSerf", 微软雅黑, serif;
        }
    </style>
</head>
<body>
<div id="apps">
    <div id="show">
        <p><h1 id="info">{{ error_information }}</h1></p>
    </div>

</div>
</body>
</html>