<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .short-select {
            background: #fafdfe;
            height: 28px;
            width: 180px;
            line-height: 28px;
            border: 1px solid #9bc0dd;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
            border-radius: 16px;
        }
    </style>
</head>
<body>
<select class="short-select">
    <option value="">---请选择--</option>
    <option value="0" selected="selected">男</option>
    <option value="1">女</option>
</select>
</body>
</html>